body {
    font-family: "Noto Sans Kannada", sans-serif;
    font-size: 24px;
    padding: 10px;
    background: #FAE17C;
}

@media (max-width: 600px) {
    body {
        font-size: 18px;
        padding: 8px;
    }
}

.title-block {
    text-align: center;
    background: #ffc625;
    color: #c71e18;
    padding: 4px;
    margin-bottom: 16px;
    border-radius: 8px;
}

.sub-title-block {
    text-align: center;
    background: #c71e18;
    color: #ffc625;
    padding: 4px;
    margin-bottom: 16px;
    border-radius: 8px;
}

.table-wrapper {
    overflow-x: auto;
    max-height: 70vh;
    margin-bottom: 16px;
}

table {
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

th,
td {
    border: 1px solid #ffe24b;
    padding: 8px;
    text-align: center;
}

td,
td div {
    font-size: 28px;
}

td div.fr-sub {
    font-size: 16px;
}

thead th {
    background: #c71e18;
    color: #ffd821;
    position: sticky;
    top: 0;
    z-index: 2;
    font-size: 22px;
    white-space: pre-line;
}

tbody tr:nth-child(odd) {
    background-color: #fff7b2;
}

tbody tr:nth-child(even) {
    background-color: #fff7b2;
}

tr.hl {
    border-top: 4px solid #c71e18;
}

/* Works in Chrome, Edge, Safari */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #ffc625;
}

::-webkit-scrollbar-thumb {
    background-color: #c71e17;
    border-radius: 6px;
    border: 2px solid #ffc625;
}

/* For Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #c71e17 #ffc625;
}