body {
    font-family: "Noto Sans Kannada", sans-serif;
    font-size: 24px;
    padding: 10px;
}

.warning-block {
    position: sticky;
    top: 0;
    background: #D0342C;
    color: #ffffff;
    text-align: center;
    padding: 4px;
    margin-bottom: 16px;
}

.title-block {
    text-align: center;
    padding: 4px;
    margin-bottom: 16px;
    border-radius: 4px;
    transition: all 0.3s, color 0.3s;
}

.table-wrapper {
    overflow-x: auto;
    max-height: 70vh;
    margin-bottom: 16px;
}

table {
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

th,
td {
    padding: 8px;
    text-align: center;
    transition: all 0.3s, color 0.3s;
}

td,
td div {
    font-size: 36px;
}

td div.fr-sub {
    font-size: 16px;
}

thead th {
    position: sticky;
    top: 0;
    z-index: 2;
    font-size: 24px;
    white-space: pre-line;
    transition: all 0.3s, color 0.3s;
}

/* Works in Chrome, Edge, Safari */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
}

/* For Firefox */
* {
    scrollbar-width: thin;
}

/* Theme toggle Button */
#theme-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 42px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  transition: all 0.3s, color 0.3s;
  z-index: 1000; /* stays above everything */
}

#theme-toggle:active {
    transform: scale(0.75);
}

/* --------------- Themes START --------------- */

/* --------------- Light mode --------------- (default) */
body.light-mode {
  background-color: #ffe37d;
  color: #000000;
}

body.light-mode .title-block {
  background: #bb2a17;
  color: #ffdb53;
}

body.light-mode thead th {
  background: #ffc52e;
  color: #a51b0a;
}

body.light-mode tbody tr:nth-child(odd) {
  background: #ffefa1;
  color: #111111;
}

body.light-mode tbody tr:nth-child(even) {
  background: #ffefb1;
  color: #111111;
}

body.light-mode tr.hl {
  border-top: 4px solid #bb2a17;
}

body.light-mode th,td {
  border: 1px solid #bb2a17;
}

body.light-mode ::-webkit-scrollbar-track {
    background: #ffdb53;
}

body.light-mode ::-webkit-scrollbar-thumb {
    background-color: #bb2a17;
    border: 2px solid #ffdb53;
}

body.light-mode * {
    scrollbar-color: #bb2a17 #ffdb53;
}

body.light-mode #theme-toggle {
    background: url("theme-icon-light.svg");
    background-size: contain;
}

body.light-mode .issue-link {
    color: #bb2a17;
}

body.light-mode .issue-icon {
    background: url("github-mark.svg");
    background-size: contain;
}

/* --------------- Dark mode --------------- */
body.dark-mode {
  background-color: #1E1E1E;
  color: #FFFFFF;
}

body.dark-mode .title-block {
  background: #8B1A10;
  color: #FFD95A;
}

body.dark-mode thead th {
  background: #A53A1C;
  color: #FFD37A;
}

body.dark-mode tbody tr:nth-child(odd) {
  background: #2b2b2b;
  color: #e0e0e0;
}

body.dark-mode tbody tr:nth-child(even) {
  background: #1b1b1b;
  color: #e0e0e0;
}

body.dark-mode tr.hl {
  border-top: 4px solid #8B1A10;
}

body.dark-mode th,td {
  border: 1px solid #8B1A10;
}

body.dark-mode ::-webkit-scrollbar-track {
    background: #8B1A10;
}

body.dark-mode ::-webkit-scrollbar-thumb {
    background-color: #FFD95A;
    border: 2px solid #8B1A10;
}

body.dark-mode * {
    scrollbar-color: #FFD95A #8B1A10;
}

body.dark-mode #theme-toggle {
    background: url("theme-icon-dark.svg");
    background-size: contain;
}

body.dark-mode .issue-link {
    color: #FFD95A;
}

body.dark-mode .issue-icon {
    background: url("github-mark-white.svg");
    background-size: contain;
}

/* --------------- Themes END --------------- */

.footer {
  text-align: left;
  margin-top: 24px;
  font-size: 13px;
}

.issue-link {
  text-decoration: none;
  display: inline-flex;
  align-items: flex-end;
  gap: 4px;
}

.issue-link:hover {
  text-decoration: underline;
}

.issue-icon {
  width: 24px;
  height: 24px;
}

@media (max-width: 600px) {
    body {
        font-size: 18px;
        padding: 8px;
    }

    td,
    td div {
        font-size: 28px;
    }

    thead th {
        font-size: 22px;
    }

    #theme-toggle {
        cursor: default;
    }

    .issue-link {
      text-decoration: underline;
    }
}